################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Server/appsettings.Development.json
/.vs
/src/.vs
/src/Server/bin/Debug/net8.0
/src/Server/obj
/src/Shared/bin/Debug/net8.0
/src/Shared/obj
